/* your styles go here */
.bold {
    font-weight: bold;
}

.animateArrow {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin: 0;
    width: 25px;
    height: 25px;
    opacity: 1;
    -webkit-animation: bounce 1.2s infinite;
    animation: bounce 2s infinite;
}

.animateArrow:hover {
    color: orangered;
}

@-webkit-keyframes bounce {
    from {
   bottom: 80px;
    opacity: 0
   }
    to {
   bottom: 20px;
    opacity: 1
   }
   }
   
   /* Standard syntax */
   @keyframes bounce {
    from {
   bottom: 80px;
   opacity: 0
   }
    to {
   bottom: 20px;
   opacity: 1
   }
